* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4A4043;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* กึ่งกลางแนวนอน */
    align-items: center;     /* กึ่งกลางแนวตั้ง */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.content img {
    margin-bottom: 20px;
    border-radius: 50%;
}

.content p {
    margin: 10px 0;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button{
    width: 200px;
    padding: 12px 0;
    border: none;
    border-radius: 25px;
    background-color: #000;
    color: #FFD700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #FFD700;
    color: #000;
}

img {
    margin-bottom: 20px;
}
